@model Shopping.Data.Entities.Category

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Esta seguro de querer eliminar?</h3>
<div>
    <partial name="_CategoryDetails" />
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />        
        <a asp-action="Index" class="btn btn-outline-success">Regresar</a>
        <input type="submit" value="Eliminar" class="btn btn-outline-danger" />
    </form>
</div>

